@import '../../styles/breakpoint';

.hijriDate {
  display: inline-block;
  position: relative;
  width: 58px;
  height: 56px;
  border-radius: 10px;
  font: var(--heading-4);

  @include tablet () {
    width: 36px;
    height: 36px;
    font: var(--heading-5);
  }

  @include mobile () {
    font: var(--phone-body-regular)
  }

  &.event {
    border: 1px solid var(--primary-color);

    .detail {
      position: absolute;
      left: 0;
      bottom: calc(40px * -1);
      z-index: 1;

      font: var(--body-small);
      color: var(--black);
      background: var(--white);
      border: 1px solid var(--primary-color);
      border-radius: 10px;
      white-space: nowrap;
      padding: 8px;

      @include mobile () {
        font: var(--phone-body-regular);
      }
    }
  }

  &.popUp {
    background-color: var(--primary-color);
  }
}
