.hijriDate {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58px;
  height: 56px;
  border-radius: 10px;
  font: var(--heading-4);

  &.event {
    border: 1px solid var(--primary-color);
  }

  &.popUp {
    background-color: var(--primary-color);
  }
}

.tooltip {
  display: inline-block;
  position: relative;

  .tip {
    position: absolute;
    left: 0;
    bottom: calc(40px * -1);
    z-index: 1;

    font: var(--body-small);
    color: var(--black);
    background: var(--white);
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    white-space: nowrap;
    padding: 8px;
  }
}
