.btn {
  border-radius: 32px;
  box-shadow: 0px 4px 10px 0px #0000001A;
}

.primary{
  background-color: var(--dark-green-600);
  color: var(--white);
}

.large{
  font-weight: 600;
  font-size: 24px;
  padding: 14px 32px;
  height: 61px;
  width: fit-content;
  line-height: 32px;
}

.medium{
  padding: 16px 32px;
  height: 52px;
  width: fit-content;
  font-size: var(--heading-5);
  line-height: 20px;
}

.primary:hover{
  transition: 0.3s ease-out;
  box-shadow: 0px 4px 10px 0px #00000026;
  border: 1px;
  border-color: var(--primary-color);
}

.primary:active {
  transition: 0.3s ease-out;
  background-color: var(--dark-green-500);
}

.primary:disabled {
  background-color: var(--gray-300);
  color: var(--gray-400);
}

.secondary {
  border: 1px solid #003114;
  border-radius: 32px;
  color: var(--dark-green-600);
}

.secondary:hover{
  transition: 0.3s ease-out;
  background: var(--neon-green-200);
  border: 1px solid #002914;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.secondary:active{
  transition: 0.3s ease-out;
  background: var(--neon-green-100);
  border: 1px solid #003114;
  border-radius: 32px;
}

.secondary:disabled{
  border: 1px solid var(--gray-300);
  color: var(--gray-400);
}
