.btn {
  border-radius: 32px;
  box-shadow: 0px 4px 10px 0px #0000001a;
  font-weight: 600;
}

.primary {
  background-color: #003114;
  color: white;
}

.large {
  font-size: 24px;
  width: 142px;
  height: 61px;
  line-height: 32px;
}

.medium {
  width: 116px;
  height: 52px;
  left: 16px;
  top: 16px;
  font-size: 16px;
  line-height: 20px;
}

.primary:hover {
  box-shadow: 0px 4px 10px 0px #00000026;
  border: 1px;
  border-color: #d7e866;
}

.primary:active {
  background-color: #013912;
}

.primary:disabled {
  background-color: #beced0;
  color: #869799;
}

.secondary {
  border: 1px solid #003114;
  border-radius: 32px;
  color: #003114;
}

.secondary:hover {
  background: #f7fcc4;
  border: 1px solid #002914;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.secondary:active {
  background: #fbfde1;
  color: #003114;
  border: 1px solid #003114;
  border-radius: 32px;
}

.secondary:disabled {
  border: 1px solid #beced0;
  color: #869799;
}
