.mainInfoCard {
  width: 620px;
  height: 496px;
  padding: 32px;

  .header {
    font: var(--heading-3);
    margin: 0;
    padding-bottom: 16px;
    color: var(--white);
  }

  .date {
    font: var(--body-large);
    color: var(--gray-500);
  }
}
