@import '../../styles/breakpoint';

.navDropDown {
  position: relative;
  text-decoration: inherit;

  .button {
    border: none;
    padding: 8px;
    font: inherit;
    cursor: pointer;
    color: inherit;
    text-decoration: inherit;
    display: flex;
    align-items: center;

    &.open {
      color: white;
      background-color: var(--dark-green-700);
      border-radius: 10px 10px 0 0;

      @include mobile() {
        background-color: var(--dark-green-900);
      }
    }
  }

  .items {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: var(--dark-green-700);
    border-radius: 0 0 10px 10px;
    padding-bottom: 12px;

    @include mobile() {
      background-color: var(--dark-green-900);
    }

    .item {
      padding: 0 8px;

      .link {
        font: var(--caption-large);
        display: block;
        padding: 8px;
        border-bottom: 1px solid var(--white);
        color: var(--white);

        @include mobile() {
          font: var(--phone-heading-4);
        }
      }
    }
  }
}
