@import "../../styles/breakpoint";

.navbar {
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
  color: var(--gray-400);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  text-underline-offset: 2px;
  padding: 0 88px;

  @include tablet() {
    padding: 0 64px;
  }

  @include mobile() {
    padding: 0 24px 0 12px;
    background-color: var(--dark-green-900);
  }

  .content {
    width: 1264px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include tablet() {
      width: 100%;
    }

    @include mobile() {
      display: grid;
      height: 100%;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 64px 1fr;
    }

    .menu {
      display: none;

      @include mobile() {
        display: block;
        transform: rotate(90deg);
        color: var(--gray-200);
        justify-self: end;
      }
    }
  }

  &.opaque {
    background-color: var(--dark-green-900);

    .active {
      color: var(--primary-color);
      text-decoration: underline;
    }
  }

  .active {
    color: var(--secondary-color);
    text-decoration: underline;
  }

  .logo {
    display: flex;
    align-items: center;
    font: var(--body-small-semi);
    gap: 8px;

    background-color: var(--dark-green-900);
    color: var(--white);
    padding: 16px 16px 16px 0;

    @include mobile() {
      padding: 14px 0;
      font: var(--mobile-semi);
    }

    .icon {
      position: relative;
      width: 64px;
      height: 64px;

      @include mobile() {
        width: 32px;
        height: 32px;
      }
    }

    & p {
      margin: 0;
    }
  }

  .list {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    @include mobile() {
      display: none;

      &.mobileActive {
        height: 100vh;
        display: block;
        background-color: inherit;
        grid-column: 1 / span 2;
      }
    }

    .item {
      padding: 8px;
      font: var(--heading-5);

      @include tablet() {
        font: var(--body-large-semi);
      }
    }
  }
}
