@import "../../styles/breakpoint";

.salahSchedule {
  width: 620px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include tablet() {
    width: 436px;
    // height: 488px;
    gap: 16px;
  }

  .dawnTime {
    border: 1px solid var(--gray-300);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.04);
    border-radius: 10px;

    .dawnTimeInner {
      padding: 24px 16px;
      margin: 32px 24.5px;
      display: flex;
      justify-content: space-between;
      background-color: var(--primary-color);
      border-radius: inherit;
      font: var(--heading-4);

      @include tablet () {
        font: var(--heading-5);
        padding: 16px;
        margin: 24px;
      }

      .label {
        margin: 0;
        line-height: 24px;
      }

      .time {
        line-height: 24px;
      }
    }
  }

  .salahTable {
    background: var(--white);
    padding: 32px 24px;
    border: 1px solid var(--gray-300);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
    font: var(--heading-4);

    @include tablet () {
      font: var(--heading-5);
      padding: 24px;
    }

    .th {
      display: flex;
      justify-content: space-between;
      margin-bottom: 16px;

      > :first-child {
        width: 160px;

        @include tablet () {
          width: 116px;
        }
      }

      > * {
        margin: 0;
        color: var(--gray-400);
      }
    }

    .tr {
      display: flex;
      justify-content: space-between;
      padding: 16px;
      margin-top: 16px;
      border: 1px solid var(--gray-300);
      border-radius: 10px;

      @include tablet () {
        padding: 12px 16px;
      }

      > :first-child {
        width: 150px;
        margin: 0;
        display: flex;
        align-items: center;
        gap: 16px;

        @include tablet () {
          width: 100px;
        }
      }
    }
  }
}
