.smallInfoCard {
  display: grid;
  grid-template-columns: 160px 1fr;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 0px;
  column-gap: 16px;

  width: 427px;
  height: 136px;

  padding: 16px;
  border: 1px solid var(--primary-color);
  border-radius: 10px;

  &:hover {
    background-color: var(--secondary-color);
    color: var(--white);
    border: none;
  }

  .media {
    grid-area: 1 / 1 / 4 / 2;
    border-radius: 10px;
    position: relative;
  }

  .header {
    margin: 0;
    font: var(--heading-4);
    grid-area: 1 / 2 / 2 / 3;
  }

  .date {
    font: var(--body-small);
    color: var(--gray-500);
    grid-area: 2 / 2 / 3 / 3;
  }

  .action {
    margin-top: auto;
    text-decoration-line: underline;
    color: #3b3fa6;
    grid-area: 3 / 2 / 4 / 3;

    &:hover {
      color: var(--white);
    }
  }
}
