.contentTitle{
    width: 298px;
    height: 57px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    padding: 0px;
    position: absolute;
}

.heading{
    margin:0;
    margin-block-end: 0;
    margin-block-start: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    
    &.h4{
        width: 298px;
        height: 24px;
        font-weight: 600;
        font-size: 20px;
        color: #BECED0;
        flex: none;
        order: 0;
        flex-grow: 0;
    }

    &.h2{
        width: 298px;
        height: 40px;
        font-weight: 700;
        font-size: 34px;
        color: #202020;
        gap: 1px;
        flex: none;
        order: 0;
        flex-grow: 0;
    }
}

.hr{
    border-left: #D7E866;
    border-top: #D7E866;
    background: #D7E866;
    margin:0;

    &.on{
        width: 298px;
        height: 16px;
    }

    &.off{
        margin-top: 15px;
        width: 3px;
        height: 16px;
    }
}