@import "../../styles/breakpoint";

.bigInfoCard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.75fr 0.25fr 3fr 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;

  padding: 24px;
  width: 781px;
  height: 498px;

  background: var(--white);
  border: 1px solid var(--primary-color);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.04);
  border-radius: 10px;

  @include tablet() {
    width: 551px;
    height: 100%;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  @include mobile() {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 343px;
    height: 541px;
    padding-left: 28px;
    padding-right: 28px;
  }

  &:hover {
    transition: 0.3s ease-in-out;
    background: var(--neon-green-200);
    border: 1px solid var(--primary-color);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  }

  .media {
    grid-area: 1 / 1 / 5 / 2;
    width: 360px;
    height: 450px;
    border-radius: 16px;
    position: relative;

    @include tablet() {
      width: 231px;
      height: 471px;
    }

    @include mobile() {
      width: 287px;
      height: 164px;
    }
  }

  .title {
    margin: 0 0 8px 0;
    grid-area: 1 / 2 / 2 / 3;
    width: 357px;
    line-height: 32px;
    max-height: calc(32px * 2);
    overflow: hidden;
    color: var(--black);
    font: var(--heading-3);
    align-self: end;

    @include tablet() {
      width: 256px;
      font: var(--heading-4);
      line-height: 24px;
      max-height: calc(24px * 2);
    }

    @include mobile() {
      width: 100%;
      font: var(--phone-heading-3);
      line-height: 16px;
      max-height: calc(16px * 2);
      margin: 0;
      align-self: start;
    }
  }

  .content {
    grid-area: 3 / 2 / 4 / 3;
    font: var(--body-large);
    margin: 0;
    overflow: hidden;
    line-height: 20px;
    height: calc(20px * 11);

    @include tablet() {
      width: 256px;
    }

    @include mobile() {
      font: var(--phone-body-regular);
      line-height: 16px;
      height: calc(16px * 10);
    }
  }

  .date {
    grid-area: 2 / 2 / 3 / 3;
    font: var(--body-large);
    color: var(--gray-500);
    line-height: 20px;
    width: 357px;
    height: 20px;

    @include tablet() {
      font: var(--body-small);
    }

    @include mobile() {
      font: var(--phone-body-regular);
      line-height: 15px;
      height: 15px;
    }
  }

  .action {
    align-self: end;
    margin-bottom: 16px;

    @include mobile() {
      margin: 0;
    }
  }
}
