.heading {
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;

  .h1 {
    font: var(--heading-1);
    line-height: 56px;
    height: calc(56px * 2);
  }

  .h2 {
    font: var(--heading-2);
    line-height: 40px;
    height: calc(40px * 2);
  }

  .h3 {
    font: var(--heading-3);
    line-height: 32px;
    height: calc(32px * 2);
  }

  .h4 {
    font: var(--heading-4);
    line-height: 24px;
    height: calc(24px * 2);
  }

  .h5 {
    font: var(--heading-5);
    line-height: 20px;
    height: calc(20px * 2);
  }

  .h6 {
    font: var(--heading-6);
    line-height: 18px;
    height: calc(18px * 2);
  }
}
