.container {
  padding: 0 var(--size-7);
}

.main {
  min-height: 100vh;
  padding: var(--size-9) 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: var(--size-7) 0;
  border-top: var(--border-size-1) solid var(--gray-0);
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: var(--blue-7);
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: var(--font-lineheight-3);
  font-size: var(--font-size-8);
}

.title,
.description {
  text-align: center;
}

.description {
  margin: var(--size-9) 0;
  line-height: var(--font-lineheight-3);
  font-size: var(--font-size-4);
}

.code {
  background: var(--gray-3);
  border-radius: var(--radius-2);
  padding: var(--size-2);
  font-size: var(--font-size-2);
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: var(--size-3);
  padding: var(--size-5);
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: var(--border-size-1) solid var(--gray-0);
  border-radius: var(--radius-3);
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: var(--blue-7);
  border-color: var(--blue-7);
}

.card h2 {
  margin: 0 0 var(--size-3) 0;
  font-size: var(--font-size-4);
}

.card p {
  margin: 0;
  font-size: var(--font-size-3);
  line-height: var(--font-lineheight-3);
}

.logo {
  height: 1em;
  margin-left: var(--size-2);
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
