.desktop {
  width: 1264px;
  margin: 0 auto;
}

.banner {
  position: relative;
  left: 0;
  height: 100vh;
  width: 100%;

  .media {
    height: 100vh;
    width: 100%;
  }

  .recentEvent {
    position: relative;
    z-index: 2;
    margin: -120px auto;
  }
}

.highlight {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 225px;
}
