.list {
  display: flex;
  justify-content: center;
  margin-bottom: 88px;

  .listContent {
    width: 1264px;
    display: flex;
    gap: 24px;

    .category {
      width: 781px;

      .listCategory {
        display: flex;
        margin-bottom: 32px;
      }

      .categoryTab {
        width: 781px;
        display: flex;
        flex-wrap: nowrap;
        overflow: scroll;
        box-shadow: inset 0px -3px var(--primary-color);
      }

      ::-webkit-scrollbar {
        display: none;
      }

      .categoryContent {
        width: 781px;
        display: flex;
        gap: 16px;
      }

      .listInfoCategories {
        width: 369px;
        height: 536px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        overflow: hidden;

        .addCatInfoCard {
          display: flex;
          width: 369px;
          height: 88px;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.04);

          .contentCatInfo {
            padding: 6px 0 6px 8px;
            width: 281px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .headerCatInfo {
              font: var(--heading-5);
              margin: 0;
              padding-bottom: 12px;
              line-height: 24px;
              max-height: calc(24px * 2);
              overflow: hidden;

              &:hover {
                color: var(--neon-green-600);
                cursor: pointer;
              }
            }

            .dateCatInfo {
              font: var(--caption-large);
              color: var(--gray-500);
            }
          }

          .addCatInfo {
            position: relative;
            width: 88px;
            height: 88px;
            overflow: hidden;

            .mediaAddCatInfo {
              &::after {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                content: " ";
                background: linear-gradient(
                  180deg,
                  rgba(0, 0, 0, 0) 0%,
                  rgba(0, 0, 0, 0.5) 58.75%,
                  rgba(0, 0, 0, 0.8) 75.36%,
                  #000000 100%
                );
              }
            }
          }
        }
      }

      .heading {
        font: var(--heading-3);
        font-weight: 600 !important;
        line-height: 32px;
        padding: 8px 30px 8px 8px;
        background-color: var(--primary-color);
        border: none;
      }

      .label {
        font: var(--body-large);
        line-height: 20px;
        flex: 0 0 104px;
        border: none;
        outline: none;
        color: var(--gray-500);
        cursor: pointer;

        &.selected {
          color: var(--black);
          font-weight: 600;
        }
      }
    }

    .others {
      width: 459px;
      height: 602px;

      .othersHeader {
        box-shadow: inset 0px -3px var(--black);
        margin-bottom: 32px;

        .othersHeaderText {
          display: inline-flex;
          font: var(--heading-3);
          color: var(--white);
          font-weight: 600 !important;
          line-height: 32px;
          background-color: var(--black);
          margin: 0;
          padding: 8px 22px 8px 8px;
        }
      }

      .othersContent {
        display: flex;
        flex-direction: column;
        gap: 24px;

        .othersCard {
          display: flex;
          width: 459px;
          height: 67px;

          .contentOthersInfo {
            padding: 6px 0 6px 8px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .headerOthersInfo {
              font: var(--heading-5);
              margin: 0;
              padding-bottom: 8px;

              &:hover {
                color: var(--neon-green-600);
                cursor: pointer;
              }
            }

            .catOthersInfo {
              font: var(--caption-large);
              color: var(--gray-500);
              padding-bottom: 8px;
              border-bottom: 1px solid lightgray;
            }
          }
        }
      }
    }
  }
}

.main {
  margin-top: 93px;
  width: 100%;

  .header {
    height: 186px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

    .headerContent {
      width: 1264px;
    }
  }

  .recent {
    justify-content: center;
    padding-top: 56px;
    padding-bottom: 40px;

    .recentMainCards {
      width: 1264px;
      margin: 0 auto;
      justify-content: center;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 16px;
      grid-row-gap: 16px;
    }

    .recentSecondCards {
      width: 624px;
      margin: 0 auto;
      justify-content: center;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 16px;
    }

    .recentAdditionalCards {
      width: 624px;
      margin: 0 auto;
      justify-content: center;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 16px;
      grid-row-gap: 16px;
    }
  }
}
